<app-header> </app-header>
 
<section class="text-gray-600 body-font">
    <div class="container flex flex-wrap px-10 py-24 mx-auto items-center">
      <div class="md:w-1/2 md:pr-12 md:py-8 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
        <div class="md:w-1/3">
            <img src="https://cdn-icons-png.flaticon.com/128/7743/7743225.png" alt="Imagen" class="w-full h-auto md:h-full md:w-auto object-cover rounded-lg">
          </div>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Contacto</h1>
        <p class="leading-relaxed text-base">Descubre el mundo fascinante de las especies en peligro de extinción en México. Cada enlace es una ventana a la vida de criaturas únicas y preciosas que necesitan nuestra atención. Explora más allá y sumérgete en sus historias, hábitats y desafíos. Tu curiosidad y comprensión pueden marcar la diferencia en la preservación de estas maravillas de la naturaleza.</p>
        </div>
      <div class="flex flex-col md:w-1/2 md:pl-12">
        <h2 class="title-font font-semibold text-gray-800 tracking-wider text-sm mb-3">¡Haz clic en cualquiera de los links para aprender y actuar por su conservación!</h2>
        <nav class="flex flex-wrap list-none -mb-1">
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a href="https://www.wwf.org.mx/" class="text-black hover:text-sky-800">World Wildlife Fund México</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a href="https://fmcn.org/es" class="text-black hover:text-sky-800">Fondo Mexicano para la Conservación de la Naturaleza, A.C.</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a href="https://www.alternare.org/" class="text-black hover:text-sky-800">Alternare, A.C.</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a href="https://pronatura.org.mx/" class="text-black hover:text-sky-800">Pronatura</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a href="https://www.nature.org/es-us/" class="text-black hover:text-sky-800">The Nature Conservancy</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a href="https://www.gob.mx/semarnat" class="text-black hover:text-sky-800">Secretaría de Medio Ambiente y Recursos Naturales</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a href="https://www.gob.mx/conabio" class="text-black hover:text-sky-800">Comisión Nacional para el Conocimiento y Uso de la Biodiversidad (CONABIO)</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a href="https://www.gob.mx/conafor" class="text-black hover:text-sky-800">Comisión Nacional Forestal (CONAFOR)</a>
          </li>
        </nav>
      </div>
    </div>
  </section>

  <app-footer> </app-footer>