<app-crud></app-crud>
<div class="container mx-auto p-4 bg-white rounded-lg">
  <form class="max-w-md mx-auto mt-16">
    <h1 class="text-2xl font-bold mb-4">Actualizar Usuario</h1>
    
    <div class="flex flex-col mb-4">
      <label class="text-sm font-medium mb-1" for="username">Correo Electrónico Actual</label>
      <input class="w-full px-4 py-2 border-black rounded-md" id="username" type="text" placeholder="Enter username">
    </div>
    
    <div class="flex flex-col mb-4">
      <label class="text-sm font-medium mb-1" for="email">Nuevo Correo Electrónico</label>
      <input class="w-full px-4 py-2 border-black rounded-md" id="email" type="email" placeholder="Enter email">
    </div>
    
    <div class="flex flex-col mb-4">
      <label class="text-sm font-medium mb-1" for="password">Contraseña</label>
      <input class="w-full px-4 py-2 border-black rounded-md" id="password" type="password" placeholder="Enter password">
    </div>
    
    <div class="flex flex-col mb-4">
      <label class="text-sm font-medium mb-1" for="confirm-password">Confirmar Contraseña</label>
      <input class="w-full px-4 py-2 border-black rounded-md" id="confirm-password" type="password" placeholder="Confirm password">
    </div>
    
    <button class="w-full px-4 py-2 bg-blue-500 text-white font-medium rounded-md hover:bg-blue-700" type="submit">Actualizar Usuario</button>
  </form>
</div>


  
  