<app-header> </app-header>
<section class="text-gray-600 bg-gray-100 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Información Básica</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">México siempre ha sido considerado un país megadiverso, pues posee la mayor variedad de flora y fauna, y en muchos casos, endémicos. Algunos de sus estados conservan sus áreas naturales, cuidan sus recursos y protegen a sus animales, por eso son los territorios con mayor biodiversidad de todo el planeta. Es asi que
    queremos nombrar a los estados de México que cuentan con mayor biodiversidad de especies tanto en flora, como fauna.</p>
      </div>
      <div class="flex flex-wrap">
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
         <div class="flex mb-4">
        <img class="w-60 h-60 flex-shrink-0 object-cover object-center" src="https://www.cronica.com.mx/uploads/2022/12/06/638fefae32361.jpeg" alt="Imagen">
        </div>
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Oaxaca</h2>
          <p class="leading-relaxed text-base mb-4">La presencia de más de 12 mil 500 especies de flora y fauna convierten a Oaxaca en el estado con mayor biodiversidad de la República Mexicana.</p>
          <a href="https://www.oaxaca.gob.mx/comunicacion/diversidad-biologica-el-gran-tesoro-de-oaxaca-semaedeso/#:~:text=22%20de%20mayo%20de%202020,los%20actores%20de%20la%20sociedad."class="text-sky-500 inline-flex items-center hover:text-purple-900">Saber Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
            <div class="flex mb-4">
                <img class="w-60 h-60 flex-shrink-0 object-cover object-center" src="https://static.inaturalist.org/projects/21106-cover.png?1650325203" alt="Imagen">
                </div>
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Puebla</h2>
          <p class="leading-relaxed text-base mb-4">Puebla, aporta el 15% de la biodiversidad mexicana, ubicando al estado como cuarto aportador a la diversidad Nacional ya que cuenta con 4 426 especies vegetales, 1 274 especies  animales, 131 de hongos, 165 de protistas y 30 de bacterias.</p>
          <a href="https://www.biodiversidad.gob.mx/region/EEB/estudios/ee_puebla"class="text-sky-500 inline-flex items-center hover:text-purple-900">Saber Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
            <div class="flex mb-4">
                <img class="w-60 h-60 flex-shrink-0 object-cover object-center" src="https://lasillarota.com/u/fotografias/m/2023/1/18/f960x540-391688_465763_0.png" alt="Imagen">
                </div>
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Veracruz</h2>
          <p class="leading-relaxed text-base mb-4">Veracruz es un estado caracterizado por la abundancia de recursos naturales que aprovechados ampliamente a lo largo de su historia.Veracruz cuenta con más de 5,000 especies de plantas y alrededor de 1,400 especies de vertebrados. </p>
          <a href="https://praxisrevista.com/2019/06/25/la-biodiversidad-de-veracruz/" class="text-sky-500 inline-flex items-center hover:text-purple-900">Saber Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <div class="flex mb-4">
            <img class="w-60 h-60 flex-shrink-0 object-cover object-center" src="https://yucatanahora.mx/wp-content/uploads/2020/11/riqueza.jpg" alt="Imagen">
            </div>
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Quintana Roo</h2>
          <p class="leading-relaxed text-base mb-4"> Quintana Roo, es conocido por ser hogar de una gran diversidad de flora y fauna. 
        hay alrededor de 2,800 especies de plantas. En cuanto a la fauna, se pueden encontrar aproximadamente 500 especies de aves, así como una amplia diversidad de mamíferos, reptiles, anfibios y peces, muchos de los cuales están adaptados a los ecosistemas selváticos y costeros de la región.</p>
        <a href="https://www.biodiversidad.gob.mx/region/EEB/estudios/ee_quintanaroo" class="text-sky-500 inline-flex items-center hover:text-purple-900">Saber Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <button (click)="inicio()" class="flex mx-auto mt-16 text-white bg-sky-500 border-0 py-2 px-8 focus:outline-none hover:bg-sky-600 rounded text-lg">Inicio</button>
    </div>
  </section>
  
  <app-footer> </app-footer>
